# ===============================
# User & Secret Files
# ===============================
.env
appsettings.Development.json
appsettings.json
# ===============================
# Build Folders
# ===============================
bin/
obj/
out/
publish/

# ===============================
# Visual Studio
# ===============================
.vs/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# ===============================
# Logs
# ===============================
*.log
logs/

# ===============================
# Node (if Angular in same repo)
# ===============================
node_modules/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db
